<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <!-- Botón de menú -->
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    
    <!-- Logo + Nombre -->
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/menu" class="nav-link d-flex align-items-center">
        <img src="/images/logo.jpg" alt="Logo" style="height: 30px; margin-right: 10px;">
        <strong>Soderia</strong>
      </a>
    </li>
  </ul>
</nav>
