<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Logo y nombre de la app -->
  <a href="/menu" class="brand-link">
    <img src="/images/logo.jpg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8; width: 30px; height: 30px;">
    <span class="brand-text font-weight-light">Agua Sol</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item"><a href="/menu" class="nav-link"><i class="nav-icon fas fa-home"></i> <p>Menú</p></a></li>
        <li class="nav-item"><a href="/ventaxdia" class="nav-link"><i class="nav-icon fas fa-calendar-day"></i> <p>Resultado del día</p></a></li>
        <li class="nav-item"><a href="/hojaruta" class="nav-link"><i class="nav-icon fas fa-road"></i> <p>Hoja de Ruta</p></a></li>
        <li class="nav-item"><a href="/venta-planta" class="nav-link"><i class="nav-icon fas fa-industry"></i> <p>Venta en Planta</p></a></li>
        <li class="nav-item"><a href="/liquidaciones" class="nav-link"><i class="nav-icon fas fa-money-bill-wave"></i> <p>Liquidaciones</p></a></li>
        <li class="nav-item"><a href="/clientes" class="nav-link"><i class="nav-icon fas fa-users"></i> <p>Clientes</p></a></li>
        <li class="nav-item"><a href="/Cobranza" class="nav-link"><i class="nav-icon fas fa-hand-holding-usd"></i> <p>Cobranza Manual</p></a></li>
        <li class="nav-item"><a href="/tapasbidones" class="nav-link"><i class="nav-icon fas fa-tint"></i> <p>Tapas y Bidones</p></a></li>
      </ul>
    </nav>
  </div>
</aside>
