<% title = "Menú Principal" %>

<div class="content-header">
  <div class="container-fluid">
    <h1 class="m-0">Menú Principal</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/ventaxdia" class="btn btn-primary btn-block">Ver Resultado del día</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/hojaruta" class="btn btn-primary btn-block">Ver Hoja de Ruta</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/venta-planta" class="btn btn-primary btn-block">Venta en Planta</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/liquidaciones" class="btn btn-primary btn-block">Liquidaciones</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/clientes" class="btn btn-primary btn-block">Clientes</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/Cobranza" class="btn btn-primary btn-block">Cargar Cobranza Manual</a>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <a href="/tapasbidones" class="btn btn-primary btn-block">Tapas y Bidones</a>
    </div>
  </div>
</div>
